.root {
    -fx-background-image: url("images/barjeupoo.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.tile-pane {
    -fx-background-color: transparent;
}

.vbox, .hbox {
    -fx-background-color: transparent;
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, black, 3, 0.7, 0, 0);
}

.button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-radius: 8;
}

.button:hover {
    -fx-background-color: #2980b9;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-cursor: hand;
}

.text-area {
    -fx-control-inner-background: transparent;
    -fx-background-color: transparent;
    -fx-font-family: "Consolas";
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.image-view:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-cursor: hand;
}